.users-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
.users-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}
.user-block{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}