*{
    margin: 0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "content1 spam1"
    "content2 spam1"
    "content2 spam2"
    "content3 spam2"
    "footer footer";
}
.grid header{
    grid-area: header;
    background: #8d8484;
}
.grid section:nth-child(2) {
    grid-area: content1;
    background: #776969;
}
.grid section:nth-child(3) {
    grid-area: content2;
    background: #643030;
}
.grid section:nth-child(4) {
    grid-area: content3;
    background: #441818;
}
.grid aside:nth-child(5) {
    grid-area: spam1;
    background: #937575;
}
.grid aside:nth-child(6){
    grid-area: spam2;
    background: #644c4c;
}
.grid footer{
    grid-area: footer;
    background: #bdbdbd;
}