*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
section{
    padding: 200px 0;
    font-family: Tahoma, sans-serif;
    font-size: 26px;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.section-top{
    background-color: coral;
}
.section-middle{
    background-color: deepskyblue;
}
.section-bottom{
    background-color: lightgreen;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 60px;

}