body{
    background-color: rgba(0, 0, 0, 0.84);
    height:100vh;
    width:100vw;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.circle{
    width:300px;
    height:300px;
    border-radius: 50%;
    border-top: 20px solid lightblue;
    border-right: 20px solid lightblue;
    border-bottom: 20px solid lightblue;
    border-left: 20px solid deepskyblue;
    animation: preloader 5s ease-in-out infinite;
}
@keyframes preloader {
    from { transform: rotate(0deg); }
    to { transform: rotate(3600deg); }
}
p{
    text-align: center;
    font-family: Arial, sans-serif;;
    font-size: 32px;
    font-weight: bold;
    color: deepskyblue;
}