@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1E1E1E;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    width: 100%;
    margin-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}
ul a{
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    color: #e9e3dc;
    text-decoration: none;
}
.active-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 203px;
    height: 60px;
    background: #b3a0cd;
    color: #1e1e1e;
}
.top-title{
    width: 1255px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 107px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #e9e3dc;
    margin: 25px 0 82px 0;
}
.middle-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    border: 4px solid #1e1e1e;
    border-radius: 30px;
    height: 369px;
    width: 1340px;
    background: #d1ef53;
    gap: 28px;
}
.middle-text h2{
    width: 533px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1e1e1e;
}
.middle-text div p {
    width: 521px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #1e1e1e;
}
.middle-text div{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.middle-text div button{
    border: 4px solid #1e1e1e;
    width: 176px;
    height: 60px;
    box-shadow: 8px 8px 0 0 #000;
    background: #e9e3dc;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    text-align: center;
    color: #1e1e1e;
}
.menu_item {
    width: 100%;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}
.bottom-h2{
    padding-top: 64px;
    width: 895px;
    height: 235px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    text-transform: uppercase;
    text-align: center;
    color: #e9e3dc;
}
.bottom-button{
    width: 196px;
    height: 60px;
    background: #d1ef53;
    font-family: "Bowlby One", sans-serif;;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    text-align: center;
    color: #1e1e1e;
}
