*{
    margin: 0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns:1.5fr 1fr;
    grid-template-rows:0.5fr 5fr 4fr 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "main section1"
    "main section2"
    "section3 section3"
    "footer footer";
}
.grid nav{
    grid-area: nav;
    background: #d9d9d9;
}
.grid main{
    grid-area: main;
    background: #a4a4a4;
}
.grid section:nth-child(3) {
    grid-area: section1;
    background: #7f7a7a;
}
.grid section:nth-child(4) {
    grid-area: section2;
    background: #615050;
}
.grid aside:nth-child(5) {
    grid-area: section3;
    background: #d9d9d9;
}
.grid footer{
    grid-area: footer;
    background: #afa9a9;
}